doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Hello World
    link(rel='stylesheet', href='./style.css')
  body
    #message
      <p>Testing in the Docker environment</p>
    #container
      h1 Hello World Centene
      h1 #{date}
      a(href="https://www.puppet.com" target="_blank") Built and Deployed by Puppet
